<div class="destaque">
    <div class="row w-100">
        <div class="col-sm-6">
            <div class="apresentacao">
                <div class="titulo titulo-apresentacao">
                    &lt;p&gt; Olá, eu sou o
                </div>
                <div class="titulo titulo-nome">
                    Moacir Alves<span class="titulo">&lt;p&gt;</span>
                </div>
                <div class="legenda">
                    Desenvolvedor Back-End
                </div>

                <div class="botoes">
                    <button class="btn btn-blue">Download CV</button>
                    <button class="btn btn-outline-blue">Entrar em contato</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="wrapper-shadow">
                <div class="img-desenvolvedor">
                    <img src="assets/images/desenvolvedor.png" alt="destaque" class="destaque-img">
                </div>
            </div>
        </div>
    </div>
</div>